@font-face {
    font-family: myFirstFont;
    src: url(../font/SF-Pro-Display-Regular.otf);
  }
  @font-face {
    font-family: fontLight;
    src: url(../font/SF-Pro-Display-Light.otf);
  }
  @font-face {
    font-family: fontMedium;
    src: url(../font/SF-Pro-Display-Medium.otf);
  }
  @font-face {
    font-family: fontSemibold;
    src: url(../font/SF-Pro-Display-Semibold.otf);
  }
  @font-face {
    font-family: fontBold;
    src: url(../font/SF-Pro-Display-Bold.otf);
  }
  .font-light-ct{
    font-family: fontLight;
  }
  .font-medium-ct{
    font-family: fontMedium;
  }
  .font-semibold-ct{
    font-family: fontSemibold;
  }
  .font-bold-ct{
    font-family: fontBold;
  }
  .font-normal{
    font-family: myFirstFont;
  }

p,h6, h5, h4, h3, h2, h1, label, span, input, input::placeholder{
    font-family: myFirstFont;
    font-weight: 400;
    margin: 0;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    /* font-size: 18px; */
    overflow: hidden;
    /* overflow: auto; */
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0em;
    line-height: inherit;
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.poppins{
    font-family: 'Poppins', sans-serif !important;
}

.w-full{
    width: 100%;
    z-index: 2;
}

.my-text-primary{
    color: #13BC8E;
}

.home{
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    /* width: max-content;
    height: max-content; */
    overflow: auto;
    background-color: #fff;
    margin: auto;
}
.app{
    /* width: 100%;
    height: 100%; */
}

.home .shadow{
    flex-grow: 1;
    box-shadow: 1px 1px 8px rgba(0, 9, 54, 0.13);
    max-width: 640px;
    min-width: 300px;
    /* max-height: 800px; */
    min-height: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home .box{
    flex-grow: 1;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    /* max-width: 640px;
    min-width: 300px;
    max-height: 1000px;
    min-height: 700px; */
    /* box-shadow: 6px 6px 1.5px #00000029; */
    box-shadow: 1px 1px 10px rgba(0, 9, 54, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box .content{
    z-index: 2;
    width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding: 0 20px; */
}

.box .id-input{
    margin: 32px 0 8px 0;
}

.box .id-input input{
    width: 100%;
    height: 48px;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 50px;
    border: solid 1px #13BC8E;
}

.box .id-input input:focus{
    outline: none;
}

.box .id-input .id-text{
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.box .id-input .clear-btn{
    display: none;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.box .submit{
    margin: 30px 0 0 0;
    color: #fff;
    background-color: #13BC8E;
    width: 100%;
    height: 48px;
    border-radius: 50px;
    border: none;
    transform: .2s;
}

.box .submit:hover{
    background-color: #5ad0b0 !important;
    border-color: #5ad0b0 !important;
}

.box .submit:active{
    background-color: #139a76 !important;
    border-color: #139a76 !important;
}

.box .submit.disabled{
    background-color: #89dec7 !important;
    border-color: #89dec7 !important;
    pointer-events: none;
}


.box .image{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.box .image.bottom{
    bottom: 0;
}

.box .image.top{
    top: 0;
}
.box .text-bottom{
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #fff;
    /* margin-bottom: 20px; */
}
@media (max-width: 420px) {
    .box .text-bottom{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        color: #000;
        /* margin-bottom: 20px; */
    }
}
.box .modal-btn{
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    opacity: 0;
}

.box .modal-body{
    padding: 30px 0;
}
.box .modal-body p{
    font-size: 24px;
    text-align: center;
}

.title .logo{
    width: 100px;
    height: auto;
}